src/main/resources/schema/validation/xmlExample_v1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="some" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cars" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:float" name="year"/>
                            <xs:element type="xs:string" name="brand"/>
                            <xs:element type="xs:string" name="model"/>
                            <xs:element name="something">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="nested"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="isWhatever" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>